/* ===== Переменные начертаний шрифтов START ===== */
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
/* ===== Переменные начертаний шрифтов END ===== */

/* ===== Переменные цветов START ===== */
$white: #fff;
$black: #000000;
$blue: #0077C8;
$blue-deep: #004C97;
$Gray-1: #333333;
$Gray-5: #E0E0E0;
$Gray-4: #BDBDBD;
$copper: #D38235;
$coppre-text: #A46A32;

/* ===== Переменные цветов END ===== */